<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <!-- Static Resource Mapping -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.eot</url-pattern>
    </servlet-mapping>

    <!-- Error Pages Configuration -->
    <!-- HTTP Error Codes -->
    <error-page>
        <error-code>400</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>401</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>403</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>405</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>502</error-code>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <error-code>503</error-code>
        <location>/errore</location>
    </error-page>
    
    <!-- Java Exception Types -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <exception-type>jakarta.servlet.ServletException</exception-type>
        <location>/errore</location>
    </error-page>
    
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/errore</location>
    </error-page>

</web-app>